.nested-fields-container
  = form.fields_for :items do |item|
    = render 'item_fields', f: item

  .nested-field-links
    = link_to_add_association 'Ajouter un chambre', form, :items, class: "btn btn-success"

