.container
  .row
    .col-md-12
      .text-xs-center
        %i.fa.fa-search-plus.float-xs-left.icon
        %h2 Remboursement sur avance de charges pour un séjour au château de Sommières
      %hr/
      .row
        .col-md-6
          .card.height
            .card-header Billing Details
            .card-block
              %strong David Peere:
              %br/
              1111 Army Navy Drive
              %br/
              Arlington
              %br/
              VA
              %br/
              %strong 22 203
              %br/
  .row
    .col-md-12
      .card
        .card-header
          %h3.text-xs-center
            %strong Order summary
        .card-block
          = render 'recap_invoice', reservation: @reservation, reservation_items: @reservation_items

:css
  .card {
    padding: 5px;
  }

  .height {
      min-height: 200px;
  }

  .icon {
      font-size: 47px;
      color: #5CB85C;
  }

  .iconbig {
      font-size: 77px;
      color: #5CB85C;
  }

  .table > tbody > tr > .emptyrow {
      border-top: none;
  }

  .table > thead > tr > .emptyrow {
      border-bottom: none;
  }

  .table > tbody > tr > .highrow {
      border-top: 3px solid;
  }
